{{>header}}
<div class="container my-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add A NEW NOTE: </h5>
            <div class="form-group">
                <textarea class="form-control" id="addText" style="height: 100px"
                    placeholder="Enter A Note To Manage Your Daily Routine........" id="addTxt"></textarea>
            </div>
            <button href="#" class="btn btn-primary mt-3" id="addBtn">ADD</button>
        </div>
        <hr class="mx-3">
        <div class="alert alert-success mx-3" role="alert">
            <h1 class="text-center fs-4">--- YOUR LIST ---</h1>
        </div>
        <hr class="mx-3">
        <div class="row container-fluid" id="notes"></div>
        <hr class="mx-3">{{>footer}}